.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    height: 88px;
}

.footer h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}